<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['clientes']">Clientes</a>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li *ngIf="!estaAuth()"><a [routerLink]="['login']" class="btn btn-outline-primary" type="button">Sign In</a></li>
        <li *ngIf="estaAuth()" class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{getUsuario().username}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item disabled">Editar perfil</a>
                <button (click)="logout()" class="dropdown-item" type="submit">Log Out</button>
            </div>
        </li>
    </ul>
</nav>