.modal-body::-webkit-scrollbar {
    width: 0.25rem;
}

.modal-body::-webkit-scrollbar-track {
    background: #1e1e24;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #0275d8;
}

.img {
    display: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    max-height: 400px;
    min-width: 75px;
    height: 250px !important;
    border-radius: 5%;
}

.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-body {
    height: 400px;
    overflow-y: auto;
}

.animation {
    animation-duration: 0.7s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-animation-fill-mode: both;
}

.modal-lg {
    max-width: 50% !important;
    font-size: 90%;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}