<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Aplicación de clientes</h1>
        <hr>
        <p class="lead">En esta aplicación logramos realizar un CRUD completo de clientes a una base de datos, utilizando tecnologías de punta para el lado del servidor, así como para el lado del cliente.
        </p>
        <p class="lead">Las tecnologías utilizadas son: </p>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Angular</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Spring Framework 5</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">MySql</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <p class="lead">
                            Para el lado del cliente se utilizó la tecnología de Angular, un framework que permite trabajar de manera modular con JavaScript, HTML y CSS.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <p class="lead">
                            Para el lado del servidor se usó Java, con el poderoso framework para desarrollo web de Spring Boot. Se manejan el modelo y los controladores correspondientes.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <p class="lead">
                            Como base de datos se utilizó MySql, una base de datos relacional sencilla de usar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>