<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3 mt-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button *ngIf="hasRole('ROLE_ADMIN')" class="btn rounded btn-primary" [routerLink]="['/clientes/form']">Crear cliente</button>
        </div>

        <div *ngIf="clientes?.length == 0" class="alert alert-info">
            No hay registros en la base de datos.
        </div>

        <table class="table table-bordered table-striped text-primary" *ngIf="clientes?.length > 0">
            <thead>
                <tr>
                    <th *ngIf="hasRole('ROLE_USER')">Perfil</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th *ngIf="hasRole('ROLE_ADMIN')"></th>
                    <th *ngIf="hasRole('ROLE_ADMIN')"></th>
                    <th *ngIf="hasRole('ROLE_ADMIN')"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="hasRole('ROLE_USER')">
                        <img id="imagenPequeña" (click)="abrirModal(cliente)" class="img-thumbnail" *ngIf="cliente?.foto" src="{{urlBackend}}/api/uploads/img/{{cliente.foto}}" alt="...">
                        <img id="imagenPequeña" (click)="abrirModal(cliente)" class="img-thumbnail" *ngIf="!cliente?.foto" src="{{urlBackend}}/images/not_user.png" alt="...">
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createdAt | date:"EEEE dd, MMMM yyyy" }}</td>
                    <td *ngIf="hasRole('ROLE_ADMIN')">
                        <button [routerLink]="['/facturas/form', cliente.id]" type="button" class="btn btn-success m-1">Crear factura</button>
                    </td>
                    <td *ngIf="hasRole('ROLE_ADMIN')" class="text-center">
                        <button *ngIf="hasRole('ROLE_ADMIN')" [routerLink]="['/clientes/form', cliente.id]" type="button" class="btn btn-primary m-1">Editar</button>
                    </td>
                    <td *ngIf="hasRole('ROLE_ADMIN')" class="text-center">
                        <button *ngIf="hasRole('ROLE_ADMIN')" (click)="delete(cliente)" type="button" class="btn btn-danger m-1">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
</div>